<div class="tc__card">
    <h4 class="tc__card__title">{{ task.title }}</h4>
    <p class="tc__card__project">{{ task.project?.title }}</p>
    <p *ngIf="task.description" class="tc__card__description">{{ task.description}}</p>
    <div class="tc__card__comments-and-files">
        <div>
            <span>{{ task.comments.length }}</span>
        </div>
        <div>
            <span>{{ task.files.length }}</span>
        </div>
    </div>
    <div *ngIf="task.subtasks.length > 0" class="tc__card__substasks">
        <p class="tc__card__substasks__progress-percentage">{{ subtaskProgressPercentage }}%</p>
        <div class="tc__card__substasks__progress-bar" [ngStyle]="{'background': generateProgressBarBackground()}"></div>
        <p class="tc__card__substasks__progress-fraction">{{ completedSubtasks }}/{{task.subtasks.length}}</p>
    </div>
</div>