@import '../../../../../../src/assets/styles/variables';

.pt {
    padding: 1.6rem;
    background-color: $color-gray;
    height: 100%;
    border-radius: 1.6rem;
    &__title {
        font-size: 2rem;
    }
}