<div class="tb" [ngStyle]="{'grid-template-columns': 'repeat(' + columnsLength + ', 33%)'}">
    <section *ngFor="let status of taskBoardService.taskListByStatus" class="tb__column">
        <div class="tb__column__title-and-counter">
            <h3 class="tb__column__title">{{ status.name | translate }}</h3>
            <span>{{ status.taskList.length }}</span>
        </div>
        <ol class="tb__column__task-list">
            <li *ngFor="let task of status.taskList" class="tb__column__task-list__card">
                <app-task-card [task]="task"></app-task-card>
            </li>
        </ol>
    </section>
</div>