// Fontes
$montserrat: "Montserrat";
$montserrat-medium: "Montserrat-Medium";
$montserrat-semibold: "Montserrat-SemiBold";
$montserrat-bold: "Montserrat-Bold";

// Cores
$color-black: #000;
$color-gray: #1a1c1e;
$color-medium-gray: #3b3f3d;
$color-light-gray: #484a4c;
$color-white: #fff;
$color-blue: #1cb4e5;
$color-purple: #827df4;
$color-green: #86d7b9;
$color-pink: #e6b0ef;