// Fontes
$montserrat: "Montserrat";
$montserrat-medium: "Montserrat-Medium";
$montserrat-semibold: "Montserrat-SemiBold";
$montserrat-bold: "Montserrat-Bold";

// Cores
$color-black: #000;
$color-gray: #1a1c1e;
$color-white: #fff;